@mixin button {
	background-color: #fff;
	border: 1px solid #d0d7de;
	border-radius: 6px;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 1.375;
	padding: 4px 15px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	white-space: nowrap;
	z-index: 100 !important;

	&:disabled {
		cursor: default;
		opacity: 0.3;
	}

	&:hover {
		border-color: #7430a1;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #622c8615 0 0 0 2px;
		outline: none;
	}

	@media (max-width: 1024px) {
		font-size: 13px;
		padding: 3px 10px;
	}
	@media (max-width: 768px) {
		font-size: 12px;
		padding: 3px 6px;
	}
}

.card {
	padding: 18px 22px;
	text-decoration: none;
	border: 1px solid #c1c0c055;
	border-radius: 10px;
	width: 19.5%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	box-shadow: #82828318 0 7px 29px;
	transition: opacity 0.5s;
	height: fit-content;
	position: relative;

	@media (max-width: 1480px) {
		gap: 15px;
		padding: 10px;
		width: 30%;
	}

	@media (max-width: 1024px) {
		gap: 15px;
		padding: 10px;
		width: 45%;
	}

	@media (max-width: 768px) {
		gap: 15px;
		width: calc(50% - 10px);
	}

	@media (min-width: 768px) {
		&::before {
			background: radial-gradient(
				400px circle at var(--mouse-x) var(--mouse-y),
				rgba(200, 200, 200, 0.1),
				transparent 40%
			);
			border-radius: inherit;
			content: '';
			opacity: 0;
			transition: opacity 500ms;
			position: absolute;
			left: 0px;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	&:hover {
		border: 1px solid #cfcfcfda;
		box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.03);
	}

	&__img {
		width: 30%;

		@media (max-width: 768px) {
			width: 40%;
		}
	}

	img {
		aspect-ratio: 1;
		width: 100% !important;
		border-radius: 25%;
		background-color: #fff;
		fill: #000;
	}

	&__root {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		@media (max-width: 1024px) {
			gap: 15px;
		}
		@media (max-width: 1024px) {
			gap: 10px;
		}
	}

	&__heading {
		margin: 0;
		font-size: 22px;
		font-weight: 700;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 17px;
		}
	}

	&__desc {
		word-break: break-all;
	}
}

.buttonExplore {
	@include button;
}

.buttonSupport {
	@include button;

	&:hover {
		border-color: #3037a3;
		text-decoration: none;
	}

	&:focus {
		box-shadow: #38309415 0 0 0 2px;
		outline: none;
	}
}

.buttonExplore_dark,
.buttonSupport_dark {
	@include button;
	color: #e9eef2;
	background-color: #424242;
	border-color: rgba(240, 246, 252, 0.1);

	&:hover {
		background-color: #494949;
		border-color: #8d949e;
	}
}

.button__container {
	display: flex;
	gap: 15px;
	z-index: 90;

	@media (max-width: 768px) {
		gap: 5px;
	}
}
