.code__wrapper {
	font-family: 'JetBrains Mono';
	font-weight: 400;
	margin: 3px 0 7px;
	font-size: 14px !important;

	@media (max-width: 1600px) {
		font-size: 13px !important;
	}

	span {
		font-size: 14px !important;

		@media (max-width: 1600px) {
			font-size: 13px !important;
		}
	}
}
