@import './Mixins.scss';

.main {
	height: 100vh;
	padding: 3.5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	@include container;
	@media (max-width: 768px) {
		padding-block: 25px !important;
	}
}

.logo {
	padding: 20px 15px;
	cursor: pointer;
}

.button {
	@include button;
	font-size: 17px;

	@media (max-width: 768px) {
		font-size: 14px;
	}

	&:first-child {
		@include button-primary;

		font-size: 17px;

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	&__dark {
		@include button;
		color: #e9eef2;
		background-color: #424242;
		border-color: rgba(240, 246, 252, 0.1);
		font-size: 17px;

		@media (max-width: 768px) {
			font-size: 14px;
		}

		&:hover {
			background-color: #494949;
			border-color: #8d949e;
		}
	}
}

.description {
	margin-bottom: 2px;
	line-height: 1.5;
	font-size: 1.6rem;

	@media (max-width: 1600px) {
		font-size: 1.5rem;
	}

	@media (max-width: 768px) {
		line-height: 1.2;
		font-size: 14px;
	}
}

.link {
	text-decoration: underline;
	text-decoration-color: rgb(152, 152, 152);
}

.code {
	background: #fafafa;
	color: rgb(27, 15, 50);
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
		Courier New, monospace;
	@media (max-width: 768px) {
		font-size: 13px;
	}
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1000px;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

#mainnetSection {
	justify-content: center;
}

.hero {
	position: relative;
	justify-content: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0s;
	z-index: 1;
	margin-top: 65px;
	height: 100vh;

	@media (max-width: 768px) {
		margin-top: 60px;
		padding: 5px;
		height: fit-content;
		width: 100%;
		align-items: flex-end;
	}

	&__wrapper {
		width: 100%;
		height: fit-content;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		margin-block: 15px;

		@media (max-width: 768px) {
			margin-block: 20px;
		}
	}

	&__divider {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
	}
	&__column {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		gap: 25px;
	}

	&__columnRoot {
		width: 80%;
		justify-content: center;
	}

	&__desc {
		width: 80%;
		line-height: 1.7;
		font-weight: 400;
		font-size: 18px;

		@media (max-width: 1600px) {
			font-size: 17px;
		}

		@media (max-width: 768px) {
			line-height: 1.25;
			font-size: 14px;
		}
	}
}

.accordion__wrapper {
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-direction: column;
	margin: 60px 0;
}

.card__desc {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 25px;

	@media (max-width: 768px) {
		gap: 15px;
		margin-bottom: 15px;
	}
}
